@import '../../styles/Shared.scss';

.button{
    background-color: transparent;
    border-color: white;
    color: white;
    transition: $standard_transition;
    border: 2px white solid;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: $box_shadow;

    @include state(){
        background: white;
        animation: pulse 2s linear infinite;

        span{
            background: -webkit-linear-gradient($purple_red_gradient);
            background-size: 400% 400%;
            animation: gradient 5s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .cart-desc{
            background: linear-gradient($purple_red_gradient);
            background-size: 400% 400%;
            animation: gradient 5s linear infinite;
            -webkit-text-fill-color: white;
        }
    }

    span{
        margin: 0 0.5rem;
        transition: $standard_transition;
    }

    .cart-desc{
        background-color: white;
        border-radius: 30px;
        padding: 0.15rem 0.5rem;
        color: $brand_color_two;
        margin-right: 0;
    }
}