@import '../../styles/Shared.scss';

.cart{
    max-width: 30rem;
    color: white;
    margin-top: 3rem;

    h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &--hidden{
        height: 0px;
        opacity: 0;
        margin-top: 0px;
    }
}

.cart-wrapper{
    animation: fade-in 0.2s linear;
}