@import '../../styles/Shared.scss';

.item {
    padding: 1rem 0;
  }
  
  .item h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.75rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .itemprice {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }
  
  .actions button {
    background-color: transparent;
    border: 2px solid white;
    margin-left: 0.5rem;
    color: white;
    border-radius: 1.25rem;
    transition: all 0.15s linear;
    font-size: 1.25rem;
    box-shadow: $box_shadow;
    min-width: 3rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;

    @include state(){
      background-color: white;
      color: $brand_color_two;
    }
  }
