@import './branding';
@import './animations';

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(30, 32, 42);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient($counter_gradient);
    background-size: 200% 200%;
    border-radius: 4px;
}
