@import '../../styles/Shared.scss';

.header{
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient($purple_red_gradient);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
    box-shadow: $purple-shadow;

    box-sizing: border-box;

    h1 {
        color: white;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
}