@import '../styles/Shared.scss';

.auth {
    margin: 5rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 25rem;
    max-width: 85%;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background: linear-gradient( $email_gradient );
    background-size: 400% 400%;
    animation: gradient 5000ms linear infinite;
    box-shadow: $purple_shadow;

    button{
        padding: 0.4rem 1rem 0.5rem 1rem;
        color: white;
        background-color: $brand_color_one;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        font-weight: bold;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.15s linear;
        font-size: 1.25rem;

        &:hover{
            background-color: $brand_color_three;
            border: 1px solid $brand_color_two;
        }
    }
}
  
.control {
    margin-bottom: 1rem;

    label {
        display: block;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 1.25rem;
    }

    input {
        display: block;
        width: 90%;
        margin: auto;
        border-radius: 4px;
        padding: 0.25rem;
        border: 1px solid #ccc;
    }
}
  
